@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #1fb5e2;
    --laranja: #c8ca55;
    --azul-degrade: linear-gradient(97.54deg, #e613db 35.49%, #c8ca55 12000000%);
    --fonte-principal: "Poppins";
    --azul: #e2e619e0;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #746e6ea2;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}